In [1]:
RANDOM_SEED = 938773

import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import seaborn as sns

In [2]:
data = pd.read_csv('creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
X = data.iloc[:, : -1]
y = data.iloc[:, -1]
XStandard = pd.DataFrame(StandardScaler().fit(X).transform(X), columns = X.columns[:])
pca_2d = PCA(n_components=2, random_state=RANDOM_SEED).fit_transform(XStandard)

# xAxis = XStandard.columns[pca_2d.components_[0].argmax()]
# yAxis = XStandard.columns[pca_2d.components_[1].argmax()]
# print(xAxis)
# print(yAxis)

In [4]:
X_Train, X_Test, y_Train, y_Test = train_test_split(XStandard, y, test_size=0.3, 
                                                    random_state=RANDOM_SEED, stratify=y)

In [5]:
gbdt = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1,
                                  random_state=RANDOM_SEED)
gbdt.fit(X_Train, y_Train)
y_pred = gbdt.predict(X_Test)
confusion_matrix(y_Test, y_pred)

array([[85264,    31],
       [   61,    87]])

In [18]:
haha = np.where(y_pred == 1)
result = ','.join(map(str, haha[0]))
result

'539,724,3341,5241,5920,6991,7239,8070,8150,9457,9688,9728,10483,10729,11120,12362,12444,12535,12728,13594,13933,14020,14211,14303,14694,14846,15002,15753,15944,15982,16298,17272,17967,18303,19120,20219,20671,21074,21335,21738,22273,24451,24559,25829,29579,29649,30594,31125,32235,32568,32626,33887,34197,34717,36256,36900,38149,39377,40326,40915,42089,42203,42891,44013,45865,46151,47077,50024,50508,50745,50798,52310,52685,52870,53436,53805,53938,54986,56143,56512,57991,58530,58591,59297,59883,60642,60668,61392,62891,63607,65260,65297,65451,67913,68373,68463,68797,70608,71068,71111,72183,72621,73771,74068,75356,76609,76634,76954,77536,77751,77809,79018,79563,80370,82669,84038,84887,85272'